src/main/mule/Implementation.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:wsc="http://www.mulesoft.org/schema/mule/wsc" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/wsc http://www.mulesoft.org/schema/mule/wsc/current/mule-wsc.xsd">
	<flow name="moviesListFlow" doc:id="2bc4e28f-6796-478f-be32-e97bc93ae841" >
		<set-variable value="#[&quot;select * from BMS.THEATRE where UCASE(MOVIE_NAME) like UCASE('&quot;++ attributes.uriParams.movieName ++&quot;%')&quot; as String]" doc:name="sql" doc:id="00fdc6f6-47ae-4ef0-bf42-17170c8d2084" variableName="sql"/>
		<db:select doc:name="selectMovieList" doc:id="367188db-ba2c-4be6-bab6-e35273e1d29c" config-ref="Database_Config_sys">
			<db:sql ><![CDATA[ #[vars.sql]]]></db:sql>
			<db:input-parameters ><![CDATA[#[{mov : attributes.uriParams.movieName}]]]></db:input-parameters>
		</db:select>
		<ee:transform doc:name="movieTransform" doc:id="3dbb5f30-c076-40a1-a413-ad6df00ad749" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json

---
payload map ( payload01 , indexOfPayload01 ) -> {
	TheatreID: payload01.THEATRE_NO default "",
	UnBooked: payload01.UNBOOKED_SEATS default 0,
	MovieID: payload01.MOVIE_NO default 0,
	MovieName: payload01.MOVIE_NAME default "",
	TheatreName: payload01.THEATRE_NAME default "",
	Language: payload01.LANGUAGE default "",
	TotalTickets: payload01.TOTAL_SEATS default 0
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Loggers" doc:id="c5b12777-a665-4bbe-9ba7-09fd658cad77" message='#["End of system API - Movie List flow"]'/>
		<error-handler >
			<on-error-continue enableNotifications="true" logException="true" doc:name="On Error Continue" doc:id="6e6ab9b5-1fe1-47fb-b5b4-e6ede45b652e" type="DB:CONNECTIVITY">
				<ee:transform doc:name="movieError" doc:id="562b14f9-b920-4f43-8f16-16eacddbfcc0">
					<ee:message>
						<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
"message" : "The " ++ message.attributes.uriParams.movieName as String default "" ++ " not available in BookMyShow"
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
				<set-variable value="400" doc:name="httpStatus" doc:id="82cd79a6-e2fc-451e-8f56-899fc89b12a2" variableName="httpStatus" />
			</on-error-continue>
		</error-handler>
	</flow>
	<flow name="bookTicketsFlow" doc:id="692f233e-b027-4029-94bb-29c62fc83ac8" >
		<set-variable value="#[payload.BookedTickets]" doc:name="ticketsCount" doc:id="84c25a5f-855d-4327-8039-be03a7814bce" variableName="ticketsCount"/>
		<set-variable value="#[payload.TheatreID]" doc:name="theatreID" doc:id="e1da91a6-5b82-43ca-b5a6-001d423ea8f9" variableName="theatreID"/>
		<set-variable value="#[payload.MovieName]" doc:name="movieName" doc:id="3b21404f-ae95-494b-95bf-2c25e6075ea6" variableName="movieName"/>
		<set-variable value="#[payload.Username]" doc:name="userName" doc:id="0544409e-97b9-470d-a1fb-022d3db35e2d" variableName="userName"/>
		<db:insert doc:name="Insert" doc:id="aea8b827-88ab-4cf7-b30b-9e831dcc64b2" config-ref="Database_Config_sys">
			<error-mapping sourceType="DB:CONNECTIVITY" targetType="DB:INSERT_CONNECTVITY" />
			<db:sql ><![CDATA[INSERT INTO BMS.BOOKINGS (MOVIE_NO, MOVIE_NAME,  THEATRE_NAME, THEATRE_NO, LANGUAGE, TOTAL_SEATS, BOOKED_SEATS, BOOKING_STATUS, USERNAME, PRICE)
VALUES (:MOVIE_NO, :MOVIE_NAME,  :THEATRE_NAME, :THEATRE_NO, :LANGUAGE, :TOTAL_SEATS, :BOOKED_SEATS, :BOOKING_STATUS, :USERNAME, :PRICE)]]></db:sql>
			<db:input-parameters ><![CDATA[#[{
  MOVIE_NO : payload.MovieID,
  MOVIE_NAME : payload.MovieName,
  THEATRE_NAME : payload.TheatreName,
  THEATRE_NO : payload.TheatreID,
  LANGUAGE : payload.TheatreName,
  TOTAL_SEATS : payload.TotalTickets,
  BOOKED_SEATS : payload.BookedTickets,
  BOOKING_STATUS : payload.BookingStatus,
  USERNAME : payload.Username, 
  PRICE : payload.Price
}]]]></db:input-parameters>
		</db:insert>
		<flow-ref doc:name="unbookedUpdateFlowReference" doc:id="0cf98d1c-a7dc-4734-a622-ac8e115df787" name="updateUnbookedTicketsFlow"/>
		<ee:transform doc:name="bookTicketsResponse" doc:id="95c9038d-0920-4452-ba37-621ce047e576" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json	
---
{
  "message": "Ticket Booked successfully"
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="723718de-1bb7-4f28-8531-4717ebb7c202" message='#["End of system API - book tickets flow"]'/>
		<error-handler >
			<on-error-continue enableNotifications="true" logException="true" doc:name="On Error Continue" doc:id="7713f49a-8652-42dd-aca9-4e6ac1e4b5d2" type="DB:INSERT_CONNECTVITY">
				<ee:transform doc:name="dBErrorResponse" doc:id="5ac8396b-e2f7-4a23-8b63-492d5eee4c2e" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json	
---
{
  "message": "Ticket not Booked. Error in Booking process. Please Check Details"
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
				<set-variable value="400" doc:name="httpStatus" doc:id="3f87d6b6-f434-4eee-b776-e34d341688ea" variableName="httpStatus"/>
			</on-error-continue>
			<on-error-continue enableNotifications="false" logException="false" doc:name="On Error Continue" doc:id="99f95895-d3bd-4abd-a52e-21dee3a3567d" type="DB:BAD_SQL_SYNTAX, DB:EXECUTION_FAILURE">
				<db:update doc:name="updateUnbooking" doc:id="2735087b-0cf5-42d1-b19e-329fb81f37aa" config-ref="Database_Config_sys">
					<db:sql ><![CDATA[UPDATE  BMS.BOOKINGS SET BOOKING_STATUS = 0 WHERE USERNAME = :USERNAME AND MOVIE_NAME = :MOVIE_NAME AND THEATRE_NO= :THEATRE_NO
ORDER BY BOOKING_ID DESC LIMIT 1;]]></db:sql>
					<db:input-parameters ><![CDATA[#[{
  MOVIE_NAME : vars.movieName,
  THEATRE_NO : vars.theatreID,
  USERNAME : vars.userName
}]]]></db:input-parameters>
				</db:update>
				<ee:transform doc:name="dbQueryError" doc:id="5ac15a26-0993-4b42-8c3b-b6463857a668" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	"message": "Booking Failed"
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
				<set-variable value="400" doc:name="httpStatus" doc:id="0060ccbe-3bfa-48e7-8991-16171f4544a0" variableName="httpStatus"/>
			</on-error-continue>
		</error-handler>
	</flow>
	<flow name="ticketsBookedFlow" doc:id="6dff6351-34ee-485d-9217-13c50e2d39f0" >
		<ee:transform doc:name="JSON to XML" doc:id="674440b5-9f1a-44a2-a8d1-290939046d8b" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/xml
ns ns0 http://soap.training.mulesoft.com/
---
{
	ns0#fetchUserHistory: {
		userId: attributes.uriParams.UserName
	}
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<wsc:consume operation="fetchUserHistory" doc:id="7712cc09-ee65-49b5-a4f6-8f75aeccafe4" config-ref="Web_Service_Consumer_Config"/>
		<ee:transform doc:name="XML to JSON" doc:id="25db2150-2a73-44fb-92ac-aea0279f29e6">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0ns ns0 http://soap.training.mulesoft.com/output application/json---payload.body.ns0#fetchUserHistoryResponse.*return map ( return , indexOfReturn ) -> {	BookingID: return.bookingId as Number default 0,	MovieID: return.hallNumber as Number default 0,	MovieName: return.movieName default "",	Language: return.discount default "",	TheatreName: return.theatreName default "",	TheatreID: return.showTime default "",	TotalTickets: return.hallNumber as Number default 0,	BookedTickets: return.seatNumbers as Number default 0,	Username: return.username default "",	BookingStatus: return.date default ""}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="201c002d-df2e-40a8-af3d-063500a9b8cc" message='#["End of system API - User History flow"]'/>
	</flow>
	<sub-flow name="updateUnbookedTicketsFlow" doc:id="8ab62406-b2f2-43df-b23c-d365a184cb25" >
		<db:select doc:name="selectUnbookedTickets" doc:id="dd55db65-f7e5-4296-b3e3-0df0105110c5" config-ref="Database_Config_sys" target="unbookedCurrent">
			<db:sql><![CDATA[select UNBOOKED_SEATS from BMS.THEATRE  WHERE THEATRE_NO= :THEATRE_ID AND MOVIE_NAME = :MOVIE_NAME]]></db:sql>
			<db:input-parameters><![CDATA[#[{
	THEATRE_ID : vars.theatreID,
	MOVIE_NAME : vars.movieName
}]]]></db:input-parameters>
		</db:select>
		<db:update doc:name="updateUnbookedTickets" doc:id="fa10c516-78fd-4d57-872f-7d73c2d4f90c" config-ref="Database_Config_sys">
			<error-mapping sourceType="DB:QUERY_EXECUTION" targetType="DB:EXECUTION_FAILURE" />
			<db:sql><![CDATA[UPDATE BMS.THEATRE SET UNBOOKED_SEATS = :UNBOOK_SEATS - :TICKETS WHERE THEATRE_NO=:THEATRE_ID AND MOVIE_NAME = :MOVIE_NAME]]></db:sql>
			<db:input-parameters><![CDATA[#[{
	THEATRE_ID : vars.theatreID,
	MOVIE_NAME : vars.movieName,
	UNBOOK_SEATS : vars.unbookedCurrent[0].UNBOOKED_SEATS as Number,
	TICKETS : vars.ticketsCount
	
}]]]></db:input-parameters>
		</db:update>
		<logger level="INFO" doc:name="Logger" doc:id="14d1dbe9-3c67-41f0-803a-d7c1d6f9ffbb" message='#["Updating the unbooked tickets in theaters flow"]'/>
	</sub-flow>
	<flow name="eTicketsFlow" doc:id="87cb8c64-fbd0-44b9-9392-1ef32ab122ee" >
		<ee:transform doc:name="JSON to XML" doc:id="53d4aebb-36ed-4487-94c2-95998641173e" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/xml
ns ns0 http://soap.training.mulesoft.com/
---
{
	ns0#getETicket: {
		userId: attributes.uriParams.UserName,
		bookingId: attributes.uriParams.OrderID
	}
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<wsc:consume doc:name="Consume" doc:id="5da5e882-d8df-461b-bc93-176cfea4f91e" config-ref="Web_Service_Consumer_Config" operation="getETicket"/>
		<ee:transform doc:name="XML to JSON" doc:id="ce54e654-954d-4f77-be31-34ddfe0b2f94" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
ns ns0 http://soap.training.mulesoft.com/
output application/json
---
payload.body.ns0#getETicketResponse.*return map ( return , indexOfReturn ) -> {
	BookingID: return.bookingId as Number default 0,
	MovieID: return.hallNumber as Number default 0,
	MovieName: return.movieName default "",
	Language: return.discount default "",
	TheatreName: return.theatreName default "",
	TheatreID: return.showTime default "",
	TotalTickets: return.hallNumber as Number default 0,
	BookedTickets: return.seatNumbers as Number default 0,
	Username: return.username default "",
	BookingStatus: return.date default ""
}
]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="da7886d4-f098-43b1-9994-dcdc88ef5303" message='#["End of system API - return eTickets flow"]'/>
	</flow>
</mule>
